* {
    box-sizing: border-box;
}

/* RESET */
body {
    margin: 0;
    font-size: 0.82;
    font-family: 'Times New Roman', Times, serif;
    background-color: #f5eee1;
    color: #1f2a44;
}

/* HEADER */
header.site-header {
    background: linear-gradient(135deg, #142850, #125084);
    color: white;
    padding: 17px 20px;
    border-bottom: 3px solid #cab67d;
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo {
    width: 45px;
    height: 45px;
    object-fit: contain;
    flex-shrink: 0;
    cursor: pointer;
}

.logo-link {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.header-text {
    text-align: center;
}

.header-text h1 {
    margin: 0;
    font-size: 0.82rem;
    line-height: 1.2;
}

.header-text p {
    margin: 0.3rem;
    font-size: 0.72rem;
    opacity: 0.85;
    font-style: italic;
}

.swipe-left {
    transform: translateX(-20px);
    opacity: 0;
    transition: all 0.2s ease;
}

.swipe-right {
    transform: translateX(20px);
    opacity: 0;
    transition: all 0.2s ease;
}

/* CONTAINER */
.container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 15px;
}

/* CARD BASE */
#content,
#sidebar,
#presidency {
    background: white;
    border-radius: 16px;
    padding: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
    border-top: 3px solid #cab67d;
}

/* CONTENT */
#content h2 {
    margin-top: 0;
    font-size: 1.1rem;
    text-align: center;
    font-style: italic;
}

#content p {
    font-size: 0.95rem;
    line-height: 1.5;
    text-align: center;
}

#content {
    transition: all 0.3s ease;
}

#main-img {
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
    border: 2px solid #cab67d;
    display: block;
    margin: 0 auto;
}

#gallery-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 8px 0;
}

#gallery-controls button {
    background: #125084;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
}

/* SIDEBAR */
.month-btn {
    width: 100%;
    text-align: left;
    padding: 10px;
    font-size: 0.80rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border: none;
    background: #125084;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
    color: white;
}

.month-btn:hover {
    background: #cab67d;
    color: black;
}

.arrow {
    float: right;
}

/* DATES */
.dates {
    margin: 10px 0;
    padding-left: 10px;
}

.dates li {
    list-style: none;
    padding: 8px;
    border-radius: 8px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.2s;
}

.dates li:hover {
    background: #f0f4ff;
    color: #1f3a93;
}

/* PRESIDENCY */
#person img {
    width: 210px;
    height: 210px;
    object-fit: cover;
    border-radius: 12px;
    border: 2px solid #cab67d;
    margin-bottom: 10px;
}

#presidency {
    text-align: center;
    padding: 10px;
}

#presidency h2 {
    margin-bottom: 12px;
    font-size: 1.1rem;
}

#person h3 {
    margin: 6px 0 2px;
    font-size: 1rem;
}

#person p {
    margin: 0;
    font-size: 0.85rem;
    opacity: 0.9;
}

/* FOOTER */
footer {
    background: linear-gradient(135deg, #142850, #125084);
    color: rgba(255, 255, 255, 0.85);
    border-top: 1px solid #cab67d;
    padding: 14px 10px;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 6px;
}

footer p {
    margin: 3px 0;
    font-size: 0.85rem;
    font-weight: 400;
}

footer p:first-child {
    letter-spacing: 4px;
    font-weight: 600;
    opacity: 0.9;
}

/* LINKS */
footer a {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    transition: 0.2s;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

footer p:not(:first-child) {
    opacity: 0.85;
}

/* HIDDEN CLASS */
.hidden {
    display: none;
}

.fade {
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

@media (min-width: 768px) {
    body {
        font-size: 16px;
    }

    header.site-header {
        justify-content: center;
        position: relative;
        padding: 20px;
    }

    .logo {
        width: 80px;
        height: 80px;
        position: absolute;
        left: 20px;
    }

    .header-text {
        text-align: center;
        font-size: 1.2rem;
    }

    .header-text h1 {
        font-size: 25px;
    }

    .header-text p {
        font-size: 18px;
    }

    .container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
            "content sidebar"
            "content presidency";
        gap: 15px;
    }

    #content {
        grid-area: content;
    }

    #content h2 {
        font-size: 1.4rem;
    }

    .month-btn {
        font-size: 1rem;
    }

    .dates li {
        font-size: 0.95rem;
    }

    #sidebar {
        grid-area: sidebar;
    }

    #presidency {
        grid-area: presidency;
    }
}

@media (max-width: 768px) {
    #sidebar {
        display: none !important;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #content,
    #presidency {
        width: 100%;
        max-width: 600px;
    }
}

